* {
  font-family: sans-serif;
}
h1 {
  font-weight: bolder;
}

.FirstTable {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px black;
}
th,
tr,
td {
  border: 1px solid black;
}
tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
tr:last-of-type {
  border-bottom: 2px solid #009879;
}
tr.active-row {
  font-weight: bold;
  color: #009879;
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 900px;
  /* margin: auto; */
  background-color: white;

  /* font-family: sans-serif; */
  /* padding: 5px; */
  /* border-spacing: 100px; */
}
.center {
  text-align: center;
}
/* form {
  position: fixed;
  display: block;
  padding: 20px;
  margin-left: 500px;
}
input {
  padding: 10px 20px;
  display: block;
  text-align: center;
} */
.adminColor {
  color: red;
  background-color: rgba(0, 0, 0, 0.164);
}
.managerColor {
  color: green;
  background-color: lightgreen;
}
.superAdminColor {
  color: white;
  background-color: rgba(0, 0, 0, 0.767);
}
.staffColor {
  color: pink;
  background-color: purple;
}

.restricted {
  visibility: hidden;
}
.btn {
  transition: 0.25s all ease-out;
  padding: 7px 14px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}
.delete {
  font-size: 15px;
  font-weight: bold;
  transition: 0.25s;
}
.delete:hover {
  color: red;
  cursor: pointer;
}
.edit {
  font-size: 15px;
  font-weight: bold;
  transition: 0.25s;
}
.edit:hover {
  color: lightgreen;
  cursor: pointer;
}

select {
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
.form input {
  display: block;
  font-size: larger;
}
.form input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form input[type="submit"] {
  width: 100%;
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.add {
  background-color: #04aa6d;
}
.add:hover {
  background-color: #04aa6d;
}
.form input[type="submit"]:hover {
  background-color: #45a049;
}
.form input[type="button"] {
  width: 100%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form input[type="button"]:hover {
  background-color: rgb(255, 72, 0);
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 500px;
  position: fixed;
  top: 22vh;
  left: 28%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}
.p1 {
  /* display: inline; */
  padding: 0 4px;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 0;
  margin-top: 0;
}
.curuser {
  /* max-width: 235px; */
  display: inline;
  /* justify-content: right; */
  text-align: right;
  /* padding: 5px; */
  /* margin-bottom: 100px; */
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.curuser h3,
h2 {
  margin-bottom: 0;
  margin-top: 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.curuser h2 {
  color: gold;
}
.BigCurUser {
  /* background-color: grey; */
  padding: 5px;
  margin-bottom: 100px;
  font-size: 20px;
}
.onConfirmBtn {
  width: 100%;
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.onConfirmBtn:hover {
  background-color: #04aa6d;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}
.tableDiv {
  background-color: white;
  padding: 10px;
  display: block;
  max-width: 850px;
  margin: auto;
  box-shadow: 4px 4px 50px 4px black;
  border-radius: 20px;
}
.addUser {
  color: white;
  background-color: green;
  border: 1px solid green;
  margin: 10px 0;
}
.addUser:hover {
  background-color: white;
  color: green;
  cursor: pointer;
}
.table-top span {
  display: inline;
}

.tableDiv {
  display: block;
}
.tableDiv-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.addUser-div {
  align-items: center;
  background-color: black;
}
