body {
  padding: 0;
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
a {
  color: white;
}

.searchbar-main {
  display: flex;
  padding: 0 20px;
  font-size: 20px;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  font-weight: bolder;
}

.searchbar-main img {
  padding: 15px 0;
}
/* .searchbar-icons{
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
} */

/* .searchbar-name{
    margin-top: 0;
    padding-top: 0;
} */
/* .searchbar-name button{
transition: 0.5s all;
font-size: 20px;
border: none;
background-color: gray;
color: white;
/* top: 50%;
left: 50%; 
}/*
.searchbar-name button:hover{
    background-color:black ;
    cursor: pointer;
} */

/* .searchbar-men {
 
  transition: 0.25s all;
  padding: 22px;
  font-size: 18px;

  text-align: center;
}
.searchbar-men p {
  margin-bottom: 0;
}
.searchbar-men:hover {
  background-color: lightslategray;
  cursor: pointer;
} */
.searchbar-women {
  /* margin: 0 10px; */
  padding: 22px;
  color: white;
  font-size: 18px;
  /* position: relative; */
}
.searchbar-women p {
  margin-bottom: 0;
}
.searchbar-women:hover {
  background-color: grey;
  cursor: pointer;
}
.searchbar-box {
  width: 500px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 15px 0;
  border: 1px solid black;
  /* transition: 0.25s all; */
}
.searchbar-box input {
  border: none;
  outline: none;

  flex: 1;
}
/* .searchbar-box:active{
    border: black 3px solid;
} */
.searchbar-icon {
  color: black;
  padding: 5px 0;
  cursor: pointer;
}
.searchbar-tab-icons {
  transition: 0.25s all;
  font-size: 25px;
  /* padding-top: 6px; */
  margin: 20px 0;
}
.searchbar-tab-icons:hover {
  color: grey;
  cursor: pointer;
}
